* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#bdb0b2, #54547d);
}

.container {
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 4rem;
  text-align: center;
  padding: 2rem 0;
  color: white;
}

h3 {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 2rem;
}

.questions {
  padding-bottom: 2rem;
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.box {
  flex-basis: 20%;
  min-width: 100px;
  background-color: grey;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
}

.answers .box {
  background-color: white;
  color: black;
  cursor: grab;
}
